*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #031328;
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.container h1{
    color: white;
    font-size: 45px;
    font-weight: 500;
}
.container h1 span{
    color: #507e08;
    padding-bottom: 10px;
    border-bottom: 3px solid;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: white;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
}
.bx{
    font-size: 45px;
    cursor: pointer;
}
input{
    flex: 1;
    border: none;
    outline: none;
    font-size:28px;
}
button{
    border: 0;
    outline: 0;
    background-color: #019f55;
    color: white;
    font-size: 22px;
    font-weight: 300;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}